/*https://coolors.co/ff5e5b-423e37-ffffea-2e5266-ffed66*/

/*branding*/
.jh-toolbar-logo{
  background-image:url('../images/job-hero-logov1.svg');
  background-size:contain;
  background-repeat: no-repeat;
  height:50px;
  width:60px;
  background-position: center center;
}
.jh-toolbar-white{
  background-color:#fff !important;
}
.jh-toolbar-blue{
  background-color:#2E5266 !important;
}
.jh-name{
  color:#2E5266;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 26px!important;
}
.md-input-focused label{
  color:#2E5266 !important;
}
.md-input-focused .md-input{
  border-color:#2E5266 !important;
}
.md-input-invalid .md-input{
  border-color: rgb(221,44,0) !important;
}
.md-input-invalid label{
  color: rgb(221,44,0) !important;
}
.md-button.md-primary{
  background-color:#2E5266 !important;
}
md-dialog{
  width:600px;
}
.jh-align-right{
  text-align: right;
}
.jh-align-left{
  text-align: left;
}
.jh-align-center{
  text-align: center;
}
.jh-width-100{
  width:100%;
}
.jh-dialog{
  max-width:700px;
}
.jh-fixed-toolback{
  position: fixed;
}
.jh-resume-container{
  width:100vw;
  overflow:scroll;
  background-color: #666;
  background-color: #ddd;
  padding-top:1.5in;
  padding-bottom:1in;
}
@media print {
  body,html{
    background:#fff;
    background-color:#fff;
  }
  .jh-resume-container{
    width:inherit;
    background-color: #fff;
    overflow: inherit;
    padding:0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    color-adjust: exact;
  }
}
.jh-resume-page{
  height:11in;
  width:8.5in;
  background:#fff;
  margin-left: auto;
  margin-right: auto;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  color-adjust: exact;
  overflow:hidden;
}
@media print {
  .jh-resume-page{
    height:auto;
    /*border: 1px solid black;*/
  }
}
.jh-resume-page h1,h2,h3,h4,p{
  margin:0;
}
@page{
    size: auto;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 0in 0in 0in 0in;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin:0;
}
@media all {
	.page-break {
    display: block;
    height:0.5in;
  }
}

@media print {
	.page-break {
    display: inherit;
    height:0;
    page-break-before: always;
  }
}
.jh-noprint{
  display:block;
}
@media print {
  body{
    background-color: #fff;
  }
  .jh-noprint{
    display:none;
  }
}
.jh-100vh{
}
.jh-table{
  display:table;
}
.jh-row{
  display:table-row;
}
.jh-cell{
  display:table-cell;
}
.jh-cell-middle{
  vertical-align: middle;
}
/*select search*/

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */
}
.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0;
}
.selectdemoSelectHeader .demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
}
.selectdemoSelectHeader md-content._md {
  max-height: 240px;
  max-height:300px;
  height:300px;
}
.md-select-menu-container.md-active md-select-menu{
  max-height:300px;
  height:300px;
}
.jh-zerostate{
  text-align: center;
  padding:0.2in;
}

/*spinner*/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #444;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
/*start view*/
.jh-start-container{
  height:100vh;
  background-color:#ddd;
}
.jh-start-form-container{
  background-color:rgba(255,255,255,0.8);
  background-color:#fff;
  padding:40px;
  border-radius:10px;
}
