<div class="jh-resume-container">
  <div class="jh-resume-page">
    <section class="jh-t2-header-section">
      <div class="jh-table">
        <div class="jh-row">
          <div class="jh-cell jh-cell-middle jh-align-right">
            <h1 class="jh-t2-name">
              {{rc.resume.info.fullname}}
            </h1>
          </div>
          <div class="jh-cell jh-cell-middle jh-align-left jh-t2-contact-cell">
            <h2 class="jh-t2-title">
              {{rc.resume.info.title}}
            </h2>
            <h3 class="jh-t2-contact">
              {{rc.resume.info.email}}
            </h3>
            <h3 class="jh-t2-contact">
              {{rc.resume.info.phone}}
            </h3>
          </div>
        </div>
      </div>
      <div class="jh-noprint jh-align-center">
        <md-button ng-click="rc.editResumeInfo($event)">
          (EDIT)
        </md-button>
      </div>
    </section>
    <section class="jh-t2-content-container">
      <div class="jh-table jh-width-100">
        <div class="jh-row">
          <div class="jh-cell jh-t2-wide-cell">
            <div class="jh-t2-block">
              <h1>
                SKILLS
                <div class="jh-t2-section-edit-button">
                  <md-button ng-click="rc.editResumeSkills($event)">
                    (EDIT)
                  </md-button>
                </div>
              </h1>
              <ul class="jh-t2-block-list jh-t2-skills-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.skills">
                  {{ item.verb }} {{ item.name }}
                </li>
              </ul>
            </div>

            <div class="jh-t2-block">
              <h1>
                SELECT HISTORY
              </h1>
            </div>






          </div>
          <div class="jh-cell jh-t2-narrow-cell">
            <div class="jh-t2-block">
              <h1>EXPERIENCE</h1>
              <ul class="jh-t2-block-list jh-t2-experience-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.experience">
                  {{ item.years }}+ Years {{ item.name }}
                </li>
              </ul>
            </div>
            <div class="jh-t2-block">
              <h1>KNOWLEDGE</h1>
              <ul class="jh-t2-block-list jh-t2-technology-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.technology">
                  {{ item.name }}
                </li>
              </ul>
            </div>
            <div class="jh-t2-block">
              <h1>ITEMS OF INTEREST</h1>
              <ul class="jh-t2-block-list jh-t2-interests-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.educationinterests">
                  {{ item.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>
</div>
