<md-dialog aria-label="Edit Your Skills" style="max-width:600px;">

  <form name="resumeSkillsForm" ng-submit="dc.saveResume(dc.resume,true)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>SKILLS</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dc.cancel()">
          X
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h4>
          Add 8-10 detailed and relevant skills such as "Managing global development teams" or "Writing detailed technical documation". Pick a verb and then add the skill description.
        </h4>

        <md-card md-theme="docs-dark">

            <md-card-content>
              <ng-form  name="resumeSkillsFormItem" layout="row" ng-repeat="skill in dc.resume.skills">

                <md-input-container flex="25">
                  <label>Verb</label>
                  <md-select ng-model="skill.verb" name="verb" md-on-close="dc.clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" required>
                    <md-select-header class="demo-select-header">
                      <input ng-model="dc.searchTerm" type="search" ng-keydown="dc.updateSearch($event)" placeholder="Search for a verb..." class="demo-header-searchbox md-text">
                    </md-select-header>

                      <md-optgroup label="{{verbGroup.name}}" ng-repeat="verbGroup in dc.presentVerbs">
                          <md-option ng-value="verb" ng-repeat="verb in verbGroup.verbs | filter:dc.searchTerm">{{verb}}</md-option>
                      </md-optgroup>

                  </md-select>
                  <div class="errors" ng-messages="resumeSkillsFormItem.verb.$error">
                    <div ng-message="required">Required</div>
                  </div>
                </md-input-container>

                <md-input-container flex="75">
                  <label>Skill description</label>
                  <input required md-maxlength="80" minlength="20" name="name" ng-model="skill.name">
                  <div ng-messages="resumeSkillsFormItem.name.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">Make this a little shorter. Should be under 81 characters.</div>
                    <div ng-message="minlength">This skill should be more detailed and longer (at least 20 characters).</div>
                  </div>
                </md-input-container>
                <md-button ng-click="dc.removeSkill(skill)">
                  Delete
                </md-button>
              </ng-form>


            </md-card-content>
        </md-card>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="dc.newSkill()" class="md-raised" ng-disabled="dc.resume.skills.length >= 10">
        Add Skill ({{dc.resume.skills.length}}/10)
      </md-button>
      <span flex></span>
      <md-button ng-click="dc.cancel()" class="md-raised">
       Cancel
      </md-button>
      <md-button  class="md-raised md-primary"  type="submit">
        Save Changes
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
