<md-dialog aria-label="Edit Your Info" class="rb-dialog">

  <form name="resumeExperienceForm" ng-submit="dc.saveResume(dc.resume,true)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>RELAVENT HISTORY</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dc.cancel()">
          X
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h4>
          Add your top 3 relavent jobs and projects here. Make sure they are relavent to the job you are applying for.
        </h4>



        <md-card md-theme="docs-dark" ng-repeat="history in dc.resume.history" >
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">
                {{ history.company }}
              </span>
              <span class="md-subhead">
              </span>
            </md-card-title-text>
          </md-card-title>
          <ng-form name="resumeHistoryFormItem">
            <md-card-content>
                <div layout="row">
                  <md-input-container flex="50">
                    <label>Company Name</label>
                    <input required md-maxlength="30" name="company" ng-model="history.company">
                    <div ng-messages="resumeHistoryFormItem.company.$error">
                      <div ng-message="required">This is required.</div>
                      <div ng-message="md-maxlength">The company name must be shorter.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50">
                    <label>Role/Position</label>
                    <input required name="position" ng-model="history.position">
                    <div ng-messages="resumeHistoryFormItem.position.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="50">
                    <label>Location (City, State)</label>
                    <input required name="location" ng-model="history.location">
                    <div ng-messages="resumeHistoryFormItem.location.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <md-input-container flex="50">
                    <md-checkbox name="current" ng-model="history.current">
                      Do you currently work here?
                    </md-checkbox>
                  </md-input-container>
                </div>

                <div layout="row">
                  <md-input-container flex="50">
                    <label>Start Date (12/2016)</label>
                    <input required name="startDate" ng-model="history.startDate">
                    <div ng-messages="resumeHistoryFormItem.startDate.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                  <div ng-if="history.current" flex="50">
                    <h3>
                      To present
                    </h3>
                  </div>
                  <md-input-container flex ng-if="!history.current">
                    <label>End Date (12/2016)</label>
                    <input required name="endDate" ng-model="history.endDate">
                    <div ng-messages="resumeHistoryFormItem.endDate.$error">
                      <div ng-message="required">This is required.</div>
                    </div>
                  </md-input-container>
                </div>

                <span class="md-subhead">
                  <h3>{{history.company}} Highlights</h3>
                  <p class="md-caption">
                    Add 4-5 highlights. Use specific highlights when possible. Such as "Lead team of 14 developers across 4 timezones" or "Managed $1,000,000 research and developent budget".
                  </p>
                </span>
                <ng-form name="resumeHistoryHighlightFormItem" layout="row" ng-repeat="highlight in history.highlights" >
                  <!-- <md-input-container flex="20">
                    <label>Verb</label>
                    <md-select required ng-model="highlight.verb" name="verb">
                      <md-optgroup label="Past tense verbs">
                        <md-option ng-value="verb" ng-repeat="verb in dc.pastVerbs">{{verb}}</md-option>
                      </md-optgroup>
                    </md-select>
                    <div class="errors" ng-messages="resumeHistoryHighlightFormItem.verb.$error">
                      <div ng-message="required">Required</div>
                    </div>
                  </md-input-container> -->

                  <md-input-container flex="25">
                    <label>Verb</label>
                    <md-select ng-model="highlight.verb" md-on-close="dc.clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" name="verb" required>
                      <md-select-header class="demo-select-header">
                        <input ng-model="dc.searchTerm" type="search" ng-keydown="dc.updateSearch($event)" placeholder="Search for a verb..." class="demo-header-searchbox md-text">
                      </md-select-header>

                          <md-optgroup label="{{verbGroup.name}}" ng-repeat="verbGroup in dc.pastVerbs">
                              <md-option ng-value="verb" ng-repeat="verb in verbGroup.verbs | filter:dc.searchTerm">{{verb}}</md-option>
                          </md-optgroup>


                      <!-- <md-optgroup label="Verb">
                        <md-option ng-value="verb" ng-repeat="verb in dc.pastVerbs |
                                           filter:dc.searchTerm">{{verb}}</md-option>
                      </md-optgroup> -->
                    </md-select>
                    <div class="errors" ng-messages="resumeHistoryHighlightFormItem.verb.$error">
                      <div ng-message="required">Required</div>
                    </div>
                  </md-input-container>

                  <md-input-container flex="75">
                    <label>Highlight</label>
                    <input required minlength="20" md-maxlength="80" name="highlight" ng-model="highlight.name">
                    <div ng-messages="resumeHistoryHighlightFormItem.highlight.$error">
                      <div ng-message="required">This is required.</div>
                      <div ng-message="md-maxlength">Make this a little shorter. Should be under 81 characters.</div>
                      <div ng-message="minlength">This highlight should be more detailed and longer (at least 20 characters).</div>
                    </div>
                  </md-input-container>
                  <md-button ng-click="dc.removeHistoryHighlight(history,highlight)">
                    Delete
                  </md-button>
                </ng-form>

            </md-card-content>
          </ng-form>
          <md-card-actions layout="row" layout-align="end center">
            <md-button ng-click="dc.newHistoryHighlight(history)" ng-disabled="history.highlights.length >= 5">
              Add highlight ({{history.highlights.length}}/5)
            </md-button>
            <md-button ng-click="dc.removeHistory(history)">
              Delete history
            </md-button>
          </md-card-actions>
        </md-card>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="dc.newHistory()" class="md-raised" ng-disabled="dc.resume.history.length >= 3">
        Add Relavent History ({{dc.resume.history.length}}/3)
      </md-button>
      <span flex></span>
      <md-button ng-click="dc.cancel()" class="md-raised">
       Cancel
      </md-button>
      <md-button  class="md-raised md-primary"  type="submit">
        Save Changes
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
