<md-dialog aria-label="Edit Your Skills" class="rb-dialog">

  <form name="resumeSkillsForm" ng-submit="dc.saveResume(dc.resume,true)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>ITEMS OF INTERESTS</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dc.cancel()">
          X
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h4>
          Add 4-6 education and items of interest here. Such as apps you've built, news articles, relavent interests, etc. Please be detailed.
        </h4>

        <md-card md-theme="docs-dark">
          <md-card-content>
            <ng-form layout="row"  name="resumeEducationInterestsFormItem" ng-repeat="item in dc.resume.educationinterests">
              <md-input-container flex="80">
                <label>Item of Interest</label>
                <input required minlength="30" md-maxlength="100" name="name" ng-model="item.name">
                <div ng-messages="resumeEducationInterestsFormItem.name.$error">
                  <div ng-message="required">This is required.</div>
                  <div ng-message="md-maxlength">Make this a little shorter. Should be under 101 characters.</div>
                  <div ng-message="minlength">This item of interest should be more detailed and longer (at least 30 characters).</div>
                </div>
              </md-input-container>
              <md-button ng-click="dc.removeEducationInterest(item)">
                Delete
              </md-button>
            </ng-form>
          </md-card-content>
        </md-card>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="dc.newEducationInterest()" class="md-raised" ng-disabled="dc.resume.educationinterests.length >= 6">
        Add Item of Interest ({{dc.resume.educationinterests.length}}/6)
      </md-button>
      <span flex></span>
      <md-button ng-click="dc.cancel()" class="md-raised">
       Cancel
      </md-button>
      <md-button  class="md-raised md-primary"  type="submit">
        Save Changes
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
