<md-dialog aria-label="Edit Your Technology" class="rb-dialog">

  <form name="resumeTechnologyForm" ng-submit="dc.saveResume(dc.resume,true)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>KNOWLEDGE</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dc.cancel()">
          X
          <!-- <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon> -->
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <h4>
          Add specific techologies and specialties you are experienced with. Such as "Javascript" or "Microsoft Office".
        </h4>

        <md-card md-theme="docs-dark">

          <ng-form name="resumeTechnologyFormItem">
            <md-card-content>

              <div layout="row" ng-repeat="technology in dc.resume.technology" >
                <md-input-container flex="80">
                  <label>Knowledge</label>
                  <input required md-maxlength="30" name="name" ng-model="technology.name">
                  <div ng-messages="resumeTechnologyFormItem.name.$error">
                    <div ng-message="required">This is required.</div>
                    <div ng-message="md-maxlength">This should be shorter.</div>
                  </div>
                </md-input-container>
                <md-button ng-click="dc.removeTechnology(technology)">
                  Delete
                </md-button>
              </div>


            </md-card-content>
          </ng-form>
        </md-card>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="dc.newTechnology()" class="md-raised" ng-if="dc.resume.technology.length < 11 || !dc.resume.technolgoy">
        Add Knowledge +
      </md-button>
      <span flex></span>
      <md-button ng-click="dc.cancel()" class="md-raised">
       Cancel
      </md-button>
      <md-button  class="md-raised md-primary"  type="submit">
        Save Changes
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
