.jh-t1-container{
  font-family: 'Source Sans Pro', sans-serif;
}
.jh-t1-heading{
  text-align: center;
  padding:0.5in;
}
.jh-t1-heading>h1{
  font-weight: 300;
  font-size:0.2in;
}
.jh-t1-basics-section{
  padding:0.25in;
  text-align:center;
}
.jh-t1-basics-section>h1{
  font-size:0.5in;
  color:#333;
  font-weight: 900;
}
.jh-t1-basics-section>h2{
  font-weight: 900;
  font-size:0.2in;
  padding:0.1in;
  color:#333;
  text-transform: uppercase;
}
.jh-t1-basics-section>h3{
  font-weight: 400;
  font-size:0.2in;
}
.jh-t1-basics-section>h4{
  font-weight: 900;
  font-size:0.2in;
  color:#333;
}
.jh-t1-skills-section{
}
.jh-t1-skills-flex{
  display:flex;
  width:100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.jh-t1-edit-section{
  border:none;
  box-sizing: border-box;
  transition: all linear 0.2s;
  background-color:none;
}
.jh-t1-edit-sectiontrue{
  width:100%;
}
.jh-t1-edit-section{
  width:100%;
}
@media screen{
  .jh-t1-edit-section:hover{
    /* border:-2px dashed purple; */
    background-color:rgba(255,94,90,1);
    transition: all linear 0.2s;
    cursor: pointer;
  }
  .jh-t1-edit-section:hover::before {
    content: "CLICK TO EDIT SECTION";
    position: relative;
    left: 10px;
    float: left;
    color: #fff;
    z-index: 10;
    font-weight: 900;
  }
}

/* block */
.jh-t1-block{
  width:100%;
  padding:0.25in;
}
.jh-t1-block>h1{
  background-color:#333;
  font-size:0.2in;
  width:3in;
  text-transform: uppercase;
  font-weight: 700;
  padding:0.14in;
  color:#ffffff;
  margin-bottom:0.1in;
}
.jh-t1-block>ul{
  text-transform: capitalize;
  list-style-type: disc;
  padding-left: 0.25in;
  font-size:0.17in;
  font-weight: 400;
}
.jh-t1-job-details{

}
.jh-t1-job-details>h3{
  font-size:0.15in;
  font-weight: 300;
  padding-left:0.14in;
  margin-bottom: 0.04in;
  color:#333;
}
.jh-t1-job-details>h4{
  font-size:0.15in;
  font-weight: 900;
  color:#333;

}
