.jh-button-container{
  padding:10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all linear 0.2s;
  font-size:18px;
  user-select: none;
  text-transform: uppercase;
}
.jh-button-container:hover{
  opacity:0.7;
  transition: all linear 0.2s;
}
@media screen and (max-width:786px){
  .jh-button-container{
    font-size: 14px;
  }
}
