.jh-button-container{
  background-color:#fff;
  padding:10px;
  border:2px solid #999;
  border-radius: 10px;
  cursor: pointer;
  color:#999;
  transition: all linear 0.2s;
  font-size:18px;
}
.jh-button-container:hover{
  background-color:#999;
  padding:10px;
  border:2px solid #999;
  border-radius: 10px;
  cursor: pointer;
  color:#fff;
  transition: all linear 0.2s;
}
@media screen and (max-width:786px){
  .jh-button-container{
    font-size: 14px;
  }
}
