.jh-resume-container{
  width: 100vw;
  overflow: scroll;
  background-color: #ddd;
  padding-top: 1in;
  padding-bottom: 1in;
}
.jh-resume-page{
  height: 11in;
  width: 8.5in;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  color-adjust: exact;
  overflow: hidden;
}
