<form name="resumeInfoForm" ng-submit="sc.createResume(sc.resume)">
  <div layout="row">
    <md-input-container flex="100">
      <label>Full Name</label>
      <input required md-maxlength="26" name="fullname" ng-model="sc.resume.info.fullname">
      <div ng-messages="resumeInfoForm.fullname.$error">
        <div ng-message="md-maxlength">Name needs to be shorter. Try removing middle name or using initials.</div>
        <div ng-message="required">Your name is required.</div>
      </div>
    </md-input-container>
  </div>
  <div layout="row">
    <md-input-container flex="100">
      <label>Email Address</label>
      <input required type="email" name="email" ng-model="sc.resume.info.email" minlength="10" maxlength="100" />
      <div ng-messages="resumeInfoForm.email.$error" role="alert">
        <div ng-message-exp="['required', 'minlength', 'maxlength']">
          Your email must be between 10 and 100 characters long and look like an e-mail address.
        </div>
      </div>
    </md-input-container>
  </div>
  <div layout="row">
    <md-button class="md-raised md-primary" type="submit" ng-disabled="!sc.resume.info.fullname || !sc.resume.info.email">start building a better resume</md-button>
  </div>
</form>
