<md-toolbar class="rb-fixed-toolback rb-noprint">
  <div class="md-toolbar-tools">
    <h3>
      <span>Resume Builder</span>
    </h3>
    <span flex></span>
    <md-button class="md-raised" ng-click="rc.print()" aria-label="Print">
      PRINT
    </md-button>
  </div>
</md-toolbar>
<div class="rb-resume-container">
  <div class="rb-resume-page">
    <section class="rb-header-p1">
      <h1 class="rb-fullname">
        {{ rc.resume.info.fullname }}
      </h1>
      <h3 class="rb-contact">
        <p>{{ rc.resume.info.email }}</p>
        <p>{{ rc.resume.info.phone }}</p>
      </h3>
      <div class="rb-noprint">
        <md-button ng-click="rc.editResumeInfo($event)">
          (EDIT)
        </md-button>
      </div>
    </section>
    <section class="rb-qualifications">
      <h1 class="rb-section-title">
        QUALIFICATIONS
      </h1>
      <div class="rb-table">
        <div class="rb-row">
          <div class="rb-cell">
            <div class="rb-block">
              <div class="rb-block-title">
                <h3>Technology</h3>
                <div class="rb-section-edit-button">
                  <md-button ng-click="rc.editResumeTechnology($event)">
                    (EDIT)
                  </md-button>
                </div>
              </div>
              <ul class="rb-block-list rb-technology-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.technology">
                  {{ item.name }}
                </li>
              </ul>
            </div>
          </div>
          <div class="rb-cell">
            <div class="rb-block">
              <div class="rb-block-title">
                <h3>Experience</h3>
                <div class="rb-section-edit-button">
                  <md-button ng-click="rc.editResumeExperience($event)">
                    (EDIT)
                  </md-button>
                </div>
              </div>
              <ul class="rb-block-list rb-experience-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.experience">
                  {{ item.years }}+ years {{ item.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="rb-row">
          <div class="rb-cell">
            <div class="rb-block">
              <div class="rb-block-title">
                <h3>Skills</h3>
                <div class="rb-section-edit-button">
                  <md-button ng-click="rc.editResumeSkills($event)">
                    (EDIT)
                  </md-button>
                </div>
              </div>
              <ul class="rb-block-list rb-skills-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.skills">
                  {{ item.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="rb-row">
          <div class="rb-cell">
            <div class="rb-block">
              <div class="rb-block-title">
                <h3>Misc. Items of Interest</h3>
                <div class="rb-section-edit-button">
                  <md-button ng-click="rc.editResumeEducationInterests($event)">
                    (EDIT)
                  </md-button>
                </div>
              </div>
              <ul class="rb-block-list rb-skills-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.educationinterests">
                  {{ item.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="page-break">
  </div>
  <div class="rb-resume-page">
    <section class="rb-header-p2">
      <h3 class="rb-fullname-email">
        {{ rc.resume.info.fullname }} | {{ rc.resume.info.email }}
      </h3>
    </section>
    <section class="rb-history">
      <h1 class="rb-section-title">
        SELECT HISTORY
        <div class="rb-noprint">
          <md-button ng-click="rc.editResumeHistory($event)">
            (EDIT)
          </md-button>
        </div>
      </h1>

      <div class="rb-block" ng-repeat="item in rc.resume.history"  ng-if="item.company">
        <div class="rb-block-title">
          <h3>{{ item.company }}</h3>
          <div class="rb-section-edit-button"  >
            <md-button ng-click="rc.editResumeHistory($event)">
              (EDIT)
            </md-button>
          </div>
        </div>
        <p class="rb-history-subtitle">
          {{ item.position }} | {{ item.location }} <wbr />( {{ item.startDate | date: 'MM/yyyy'}} &mdash; <span ng-if="!item.current">{{  item.endDate }}</span><span ng-if="item.current">Present</span> )
        </p>
        <h4 class="rb-history-highlight-title">
          Select highlights:
        </h4>
        <ul class="rb-block-list rb-skills-list">
          <li ng-repeat="item in item.highlights">
            {{ item.name }}
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
