<md-toolbar class="jh-fixed-toolback jh-noprint jh-toolbar-white">
  <div class="md-toolbar-tools">
    <div class="jh-table">
      <div class="jh-row">
        <div class="jh-cell jh-cell-middle">
          <div class="jh-toolbar-logo">
          </div>
        </div>
        <div class="jh-cell jh-cell-middle">
          <h3 class="jh-name">JobHero</h3>
        </div>
      </div>
    </div>
    <!-- <h3>
      <span>Resume Builder [beta]</span>
    </h3> -->
    <span flex></span>
    <md-button class="md-raised" ng-click="rc.print()" aria-label="Print">
      PRINT
    </md-button>
  </div>
</md-toolbar>
<md-content layout="row" layout-xs="column"  layout-align="center center" class="jh-start-container">
  <div flex>
  </div>
  <div flex>

    <form name="resumeInfoForm" ng-submit="sc.createResume(sc.resume)" class="jh-start-form-container">
      <h4>This info will be visible at the top of your resume so use a professional email address.</h4>
      <div layout="row">
        <md-input-container flex="100">
          <label>Full Name</label>
          <input required md-maxlength="26" name="fullname" ng-model="sc.resume.info.fullname">
          <div ng-messages="resumeInfoForm.fullname.$error">
            <div ng-message="md-maxlength">Name needs to be shorter. Try removing middle name or using initials.</div>
            <div ng-message="required">Your name is required.</div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <md-input-container flex="100">
          <label>Email Address</label>
          <input required type="email" name="email" ng-model="sc.resume.info.email" minlength="10" maxlength="100" />
          <div ng-messages="resumeInfoForm.email.$error" role="alert">
            <div ng-message-exp="['required', 'minlength', 'maxlength']">
              Your email must be between 10 and 100 characters long and look like an e-mail address.
            </div>
          </div>
        </md-input-container>
      </div>
      <div layout="row">
        <div flex>
        </div>
        <md-button class="md-raised md-primary" type="submit" ng-disabled="!sc.resume.info.fullname || !sc.resume.info.email || sc.loading === true">{{sc.buttonContent}}</md-button>
        <div flex>
        </div>
      </div>
    </form>
  </div>
  <div flex>
  </div>

</md-content>
