<md-toolbar class="jh-fixed-toolback jh-noprint jh-toolbar-white">
  <div class="md-toolbar-tools">
    <div class="jh-table">
      <div class="jh-row">
        <div class="jh-cell jh-cell-middle">
          <div class="jh-toolbar-logo">
          </div>
        </div>
        <div class="jh-cell jh-cell-middle">
          <h3 class="jh-name">JobHero</h3>
        </div>
      </div>
    </div>
    <!-- <h3>
      <span>Resume Builder [beta]</span>
    </h3> -->
    <span flex></span>
    <md-button class="md-raised" ng-click="rc.print()" aria-label="Print">
      PRINT
    </md-button>
  </div>
</md-toolbar>
<div class="jh-resume-container">
  <div class="jh-resume-page">
    <section class="jh-header-p1">
      <h1 class="jh-fullname">
        {{ rc.resume.info.fullname }}
      </h1>
      <h3 class="jh-contact">
        <p>{{ rc.resume.info.email }}</p>
        <p>{{ rc.resume.info.phone }}</p>
      </h3>
      <div class="jh-noprint">
        <md-button ng-click="rc.editResumeInfo($event)">
          (EDIT)
        </md-button>
      </div>
    </section>
    <section class="jh-qualifications">
      <h1 class="jh-section-title">
        QUALIFICATIONS
      </h1>
      <div class="jh-table">
        <div class="jh-row">
          <div class="jh-cell">
            <div class="jh-block">
              <div class="jh-block-title">
                <h3>Knowledge</h3>
                <div class="jh-section-edit-button">
                  <md-button ng-click="rc.editResumeTechnology($event)">
                    (EDIT)
                  </md-button>
                </div>
              </div>
              <div class="jh-zerostate" ng-if="rc.resume.technology.length < 1 || !rc.resume.technology">
                <h3>you need to add knowledge to your resume</h3>
                <md-button  class="md-raised md-primary" ng-click="rc.editResumeTechnology($event)">
                  Add Knowledge
                </md-button>
              </div>
              <ul class="jh-block-list jh-technology-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.technology">
                  {{ item.name }}
                </li>
              </ul>
            </div>
          </div>
          <div class="jh-cell">
            <div class="jh-block">
              <div class="jh-block-title">
                <h3>Experience</h3>
                <div class="jh-section-edit-button">
                  <md-button ng-click="rc.editResumeExperience($event)">
                    (EDIT)
                  </md-button>
                </div>
              </div>
              <div class="jh-zerostate" ng-if="rc.resume.experience.length < 1 || !rc.resume.experience">
                <h3>You need to add experience to your resume</h3>
                <md-button  class="md-raised md-primary" ng-click="rc.editResumeExperience($event)">
                  Add Experience
                </md-button>
              </div>
              <ul class="jh-block-list jh-experience-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.experience">
                  {{ item.years }}+ Years {{ item.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="jh-row">
          <div class="jh-cell">
            <div class="jh-block">
              <div class="jh-block-title">
                <h3>Skills</h3>
                <div class="jh-section-edit-button">
                  <md-button ng-click="rc.editResumeSkills($event)">
                    (EDIT)
                  </md-button>
                </div>
              </div>
              <div class="jh-zerostate" ng-if="rc.resume.skills.length < 1 || !rc.resume.skills">
                <h3>You need to add skills to your resume</h3>
                <md-button  class="md-raised md-primary" ng-click="rc.editResumeSkills($event)">
                  Add Skills
                </md-button>
              </div>
              <ul class="jh-block-list jh-skills-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.skills">
                  {{ item.verb }} {{ item.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="jh-row">
          <div class="jh-cell">
            <div class="jh-block">
              <div class="jh-block-title">
                <h3>Misc. Items of Interest</h3>
                <div class="jh-section-edit-button">
                  <md-button ng-click="rc.editResumeEducationInterests($event)">
                    (EDIT)
                  </md-button>
                </div>
              </div>
              <div class="jh-zerostate" ng-if="rc.resume.educationinterests.length < 1 || !rc.resume.educationinterests">
                <h3>You need to add items of interest to your resume</h3>
                <md-button  class="md-raised md-primary" ng-click="rc.editResumeEducationInterests($event)">
                  Add Items of Interests
                </md-button>
              </div>
              <ul class="jh-block-list jh-skills-list">
                <li ng-if="item.name" ng-repeat="item in rc.resume.educationinterests">
                  {{ item.name }}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="page-break">
  </div>
  <div class="jh-resume-page">
    <section class="jh-header-p2">
      <h3 class="jh-fullname-email">
        {{ rc.resume.info.fullname }} | {{ rc.resume.info.email }}
      </h3>
    </section>
    <section class="jh-history">
      <h1 class="jh-section-title">
        SELECT HISTORY
        <div class="jh-noprint">
          <md-button ng-click="rc.editResumeHistory($event)">
            (EDIT)
          </md-button>
        </div>
      </h1>
      <div class="jh-zerostate" ng-if="rc.resume.history.length < 1 || !rc.resume.history">
        <h3>You need to add history to your resume</h3>
        <md-button  class="md-raised md-primary" ng-click="rc.editResumeHistory($event)">
          Add History
        </md-button>
      </div>

      <div class="jh-block" ng-repeat="item in rc.resume.history"  ng-if="item.company">
        <div class="jh-block-title">
          <h3>{{ item.company }}</h3>
          <div class="jh-section-edit-button"  >
            <md-button ng-click="rc.editResumeHistory($event)">
              (EDIT)
            </md-button>
          </div>
        </div>
        <p class="jh-history-subtitle">
          {{ item.position }} | {{ item.location }} <wbr />( {{ item.startDate}} &mdash; <span ng-if="!item.current">{{  item.endDate }}</span><span ng-if="item.current">Present</span> )
        </p>
        <h4 class="jh-history-highlight-title">
          Select highlights:
        </h4>
        <ul class="jh-block-list jh-skills-list">
          <li ng-repeat="item in item.highlights" ng-if="item.name">
            {{ item.verb }} {{ item.name }}
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
