<md-toolbar class="jh-fixed-toolback jh-noprint jh-toolbar-white">
  <div class="md-toolbar-tools">
    <div class="jh-table">
      <div class="jh-row">
        <div class="jh-cell jh-cell-middle">
          <div class="jh-toolbar-logo">
          </div>
        </div>
        <div class="jh-cell jh-cell-middle">
          <h3 class="jh-name">JobHero</h3>
        </div>
      </div>
    </div>
    <span flex></span>
    <md-menu md-offset="0 -7">
      <md-button aria-label="Open demo menu" class="md-raised" ng-click="$mdMenu.open($event)">
        TEMPLATE: {{rc.currentTemplate.name}}
      </md-button>
      <md-menu-content width="4">
        <md-menu-item ng-repeat="template in rc.templates">
          <md-button ng-click="rc.announceClick(template)"> <span md-menu-align-target>{{template.name}} </span></md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <md-button class="md-raised" ng-click="rc.print()" aria-label="Print">
      PRINT
    </md-button>
  </div>
</md-toolbar>
<ng-include src="rc.currentTemplate.url"></ng-include>
