button, input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
input[type=text],input[type=number],input[type=email],input[type=password]{
  background:none;
  font-size:20px;
  width:100%;
  padding-left:6px;
  padding-right:0px;
  padding-top:6px;
  padding-bottom:6px;
  border:none;
  line-height: normal;
}
label{
  margin:20px;
  width:100%;
}
.jh-sticky-form-subsection{
  position: sticky;
  top:100px;
  padding:20px;
  color:#fff;
  background:#222;
}
.jh-edit-form-container{
  min-height:100vh;
  width:100%;
  font-family: sans-serif;
  padding-top:100px;
  padding-bottom:100px;
  background-color:#fff;
}
.jh-edit-form{
  display:flex;
  width:40%;
  margin:auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.jh-edit-form-heading{
  font-size: 60px;
  padding: 30px 0px 30px 0px;
  width: 100%;
  text-align: center;
  position: sticky;
  top: 0px;
  background-color: #fff;
  text-transform: uppercase;
}
.jh-edit-form-details{
  color:#999;
  padding-bottom:40px;
}
.jh-form-group{
  width:100%;
}
.jh-input-container{
  margin: 10px;
  border-bottom: 1px solid #444;
  overflow: hidden;
  width:100%;
}
.jh-input-helper-text{
  font-size:12px;
  color:#999;
  padding-top:8px;
}
.jh-form-button-container{
  padding:10px;
  display:flex;
  flex-direction: row;
}
.jh-form-button-container{
  padding:10px;
  display:flex;
  flex-direction: row;
}
.jh-form-button-container>div{
  padding:10px;
}

@media screen and (max-width:768px){
  .jh-edit-form{
    width:90%;
  }
  .jh-edit-form-heading{
    font-size: 40px;
  }
}
